-r requirements.txt

# test
pytest
pytest-mock
pytest-cov
coveralls

# lint
pre-commit
mypy
pylint
pydocstyle

# docs
mkdocstrings[python]
mkdocs-material
pymdown-extensions
mkdocs-awesome-pages-plugin

